extends base 

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Add new dog
      form.form.form--newDog
        .form__group
          label.form__label(for='name') Dog's Name
          input#name.form__input(type='text', required)
        .form__group
          label.form__label(for='breeds') Breeds
          input#breeds.form__input(type='String', placeholder='Just dog', required)
        .form__group
          label.form__label(for='age') Age
          input#age.form__input(type='Number', placeholder='3', required)
        .form__group
          label.form__label(for='summary') Summary
          input#summary.form__input(type='text', placeholder='summary', required)
        .form__group
          label.form__label(for='descriptionDog') descriptionDog
          input#descriptionDog.form__input(type='String', placeholder='description', required)
        .form__group.ma-bt-md
          label.form__label(for='difficulty') Dog Size
          input#difficulty.form__input(type='text', placeholder='small', required)
        .form__group.ma-bt-md
          label.form__label(for='address') Select Shelter:
          select#address(name='address')
            option(value='Kwai Chung') Kwai Chung Shelter
            option(value='Aberdeen') Aberdeen Shelter
            option(value='Mong Kok') Mong Kok Shelter
        .form__group
          button.btn.btn--green Add

